Repository citusdata/citus, pull requests merged in 2019-09, with the labels that each got.

#2942 Make sure that lost connections are handled properly in adaptive executor
  src/backend/distributed/executor/adaptive_executor.c
Labels: backport

#2968 Changed the duplicate test into missing test
  src/test/regress/expected/isolation_insert_vs_all.out
  src/test/regress/specs/isolation_insert_vs_all.spec
Labels: regression tests

#2981 MX Isolation Tests for Select
  src/test/regress/expected/isolation_select_vs_all_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_select_vs_all_on_mx.spec
Labels: isolation tests, mx

#2989 MX Isolation Tests for Update, Delete and Upsert
  src/test/regress/expected/isolation_update_delete_upsert_vs_all_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_update_delete_upsert_vs_all_on_mx.spec
Labels: isolation tests, mx

#3002 Enhance pg upgrade tests
  src/test/regress/expected/upgrade_distributed_table_after.out
  src/test/regress/expected/upgrade_distributed_table_before.out
  src/test/regress/sql/upgrade_distributed_table_after.sql
  src/test/regress/sql/upgrade_distributed_table_before.sql
Labels: upgrade test

#3010 MX Isolation Tests for Copy
  src/test/regress/expected/isolation_copy_vs_all_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_copy_vs_all_on_mx.spec
Labels: isolation tests, mx

#3025 MX Isolation Tests for Truncate
  src/test/regress/expected/isolation_truncate_vs_all_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_truncate_vs_all_on_mx.spec
Labels: isolation tests, mx

#2973 Add postgres upgrade job
  .circleci/config.yml
Labels: upgrade test

#3028 MX Isolation Tests for Drop, Alter, Index and Select For Update
  src/test/regress/expected/isolation_drop_alter_index_select_for_update_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_drop_alter_index_select_for_update_on_mx.spec
Labels: isolation tests, mx

#3015 MX Isolation tests for Insert Select
  src/test/regress/expected/isolation_insert_select_vs_all_on_mx.out
  src/test/regress/isolation_schedule
  src/test/regress/specs/isolation_insert_select_vs_all_on_mx.spec
Labels: isolation tests, mx
