Repository citusdata/citus, pull requests merged in 2021-02, with the labels that each got.

#4618 Columnar: Fix freeing attr_need for empty tables.
  src/backend/columnar/cstore_tableam.c
  src/test/regress/expected/columnar_citus_integration.out
  src/test/regress/sql/columnar_citus_integration.sql
Labels: columnar

#4622 Columnar: properly initialize rowNumber.
  src/backend/columnar/cstore_tableam.c
Labels: columnar

#4611 Fix invalid read issue in deprecated create_citus_local_table udf
  src/backend/distributed/commands/citus_add_local_table_to_metadata.c
Labels: valgrind

#4617 Columnar: always disable parallel paths.
  src/backend/columnar/cstore_customscan.c
  src/test/regress/columnar_am_schedule
  src/test/regress/expected/columnar_fallback_scan.out
  src/test/regress/sql/columnar_fallback_scan.sql
Labels: columnar

#4619 Colummnar: mark custom scan path paralle_safe.
  src/backend/columnar/cstore_customscan.c
  src/test/regress/columnar_am_schedule
  src/test/regress/expected/columnar_partitioning.out
  src/test/regress/expected/columnar_partitioning_1.out
  src/test/regress/sql/columnar_partitioning.sql
Labels: columnar

#4628 Columnar: fix inheritance planning.
  src/backend/columnar/cstore_customscan.c
  src/test/regress/expected/columnar_partitioning.out
  src/test/regress/expected/columnar_partitioning_1.out
  src/test/regress/sql/columnar_partitioning.sql
Labels: columnar

#4638 Columnar: disallow CREATE INDEX CONCURRENTLY
  src/backend/columnar/cstore_tableam.c
  src/test/regress/columnar_am_schedule
  src/test/regress/expected/am_indexes.out
  src/test/regress/sql/am_indexes.sql
Labels: columnar

#4645 Columnar: don't double count chunks filtered
  src/backend/columnar/cstore_customscan.c
  src/backend/columnar/cstore_reader.c
  src/backend/columnar/cstore_tableam.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_tableam.h
  src/test/regress/input/am_chunk_filtering.source
  src/test/regress/output/am_chunk_filtering.source
Labels: columnar

#4650 Columnar: Call nextval_internal instead of DirectFunctionCall.
  src/backend/columnar/cstore_metadata_tables.c
  src/test/regress/columnar_am_schedule
  src/test/regress/expected/columnar_permissions.out
  src/test/regress/sql/columnar_permissions.sql
Labels: columnar

#4653 Columnar: improve naming of limit config variables.
  src/backend/columnar/README.md
  src/backend/columnar/cstore.c
  src/backend/columnar/cstore_metadata_tables.c
  src/backend/columnar/cstore_tableam.c
  src/backend/columnar/sql/columnar--9.5-1--10.0-1.sql
  src/backend/columnar/sql/downgrades/columnar--10.0-1--9.5-1.sql
  src/backend/columnar/sql/udfs/alter_columnar_table_reset/10.0-1.sql
  src/backend/columnar/sql/udfs/alter_columnar_table_reset/latest.sql
  src/backend/columnar/sql/udfs/alter_columnar_table_set/10.0-1.sql
  src/backend/columnar/sql/udfs/alter_columnar_table_set/latest.sql
  src/backend/columnar/sql/udfs/columnar_ensure_objects_exist/10.0-1.sql
  src/backend/columnar/sql/udfs/columnar_ensure_objects_exist/latest.sql
  src/include/columnar/columnar.h
  src/test/regress/expected/am_empty.out
  src/test/regress/expected/am_matview.out
  src/test/regress/expected/am_memory.out
  src/test/regress/expected/am_tableoptions.out
  src/test/regress/expected/am_vacuum.out
  src/test/regress/expected/columnar_citus_integration.out
  src/test/regress/expected/upgrade_columnar_after.out
  src/test/regress/expected/upgrade_columnar_before.out
  src/test/regress/input/am_chunk_filtering.source
  src/test/regress/output/am_chunk_filtering.source
  src/test/regress/sql/am_empty.sql
  src/test/regress/sql/am_memory.sql
  src/test/regress/sql/am_tableoptions.sql
  src/test/regress/sql/am_vacuum.sql
  src/test/regress/sql/columnar_citus_integration.sql
  src/test/regress/sql/upgrade_columnar_before.sql
Labels: columnar

#4667 Columnar: make read and write state private.
  src/backend/columnar/cstore_customscan.c
  src/backend/columnar/cstore_reader.c
  src/backend/columnar/cstore_tableam.c
  src/backend/columnar/cstore_writer.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_tableam.h
Labels: columnar

#4659 Columnar: add chunk_group metadata table
  src/backend/columnar/cstore_metadata_tables.c
  src/backend/columnar/cstore_writer.c
  src/backend/columnar/sql/columnar--9.5-1--10.0-1.sql
  src/backend/columnar/sql/downgrades/columnar--10.0-1--9.5-1.sql
  src/include/columnar/columnar.h
  src/test/regress/expected/am_create.out
  src/test/regress/expected/am_insert.out
  src/test/regress/expected/am_recursive.out
  src/test/regress/expected/am_truncate.out
  src/test/regress/expected/am_vacuum.out
  src/test/regress/expected/multi_extension.out
  src/test/regress/expected/multi_extension_0.out
  src/test/regress/expected/upgrade_list_citus_objects.out
  src/test/regress/expected/upgrade_list_citus_objects_0.out
  src/test/regress/input/am_load.source
  src/test/regress/output/am_load.source
  src/test/regress/sql/am_create.sql
  src/test/regress/sql/am_insert.sql
  src/test/regress/sql/am_recursive.sql
  src/test/regress/sql/am_truncate.sql
  src/test/regress/sql/am_vacuum.sql
Labels: columnar

#4681 Columnar metadata changes
  src/backend/columnar/cstore_metadata_tables.c
  src/backend/columnar/sql/columnar--9.5-1--10.0-1.sql
  src/test/regress/expected/am_create.out
  src/test/regress/expected/am_drop.out
  src/test/regress/expected/am_insert.out
  src/test/regress/expected/am_matview.out
  src/test/regress/expected/am_recursive.out
  src/test/regress/expected/am_rollback.out
  src/test/regress/expected/am_truncate.out
  src/test/regress/expected/am_vacuum.out
  src/test/regress/sql/am_create.sql
  src/test/regress/sql/am_drop.sql
  src/test/regress/sql/am_insert.sql
  src/test/regress/sql/am_matview.sql
  src/test/regress/sql/am_recursive.sql
  src/test/regress/sql/am_rollback.sql
  src/test/regress/sql/am_truncate.sql
  src/test/regress/sql/am_vacuum.sql
Labels: columnar

#4630 Columnar: Fix zero column tables
  src/backend/columnar/cstore_reader.c
  src/test/regress/expected/am_alter.out
  src/test/regress/sql/am_alter.sql
Labels: columnar

#4680 Don't include stripe reservation locks in lock graph
  src/backend/columnar/cstore_metadata_tables.c
  src/backend/distributed/transaction/lock_graph.c
  src/include/distributed/resource_lock.h
Labels: columnar

#4679 Not consider subplans in restriction list
  src/backend/distributed/planner/relation_restriction_equivalence.c
  src/test/regress/expected/local_table_join.out
  src/test/regress/sql/local_table_join.sql
Labels: bug

#4674 Fix dropping fkey when distributing table
  src/backend/distributed/commands/foreign_constraint.c
  src/backend/distributed/commands/index.c
  src/backend/distributed/commands/table.c
  src/include/distributed/commands.h
  src/test/regress/expected/multi_foreign_key.out
  src/test/regress/sql/multi_foreign_key.sql
Labels: backport

#4683 Do not re-use connections for colocated intermediate results during COPY
  src/backend/distributed/commands/multi_copy.c
  src/backend/distributed/shared_library_init.c
  src/include/distributed/commands/multi_copy.h
  src/test/regress/expected/multi_insert_select_conflict.out
  src/test/regress/expected/shared_connection_stats.out
  src/test/regress/sql/multi_insert_select_conflict.sql
  src/test/regress/sql/shared_connection_stats.sql
Labels: backport

#4698 Columnar: rename chunk_num -> chunk_group_num.
  src/backend/columnar/sql/columnar--9.5-1--10.0-1.sql
  src/test/regress/expected/am_create.out
  src/test/regress/expected/am_insert.out
  src/test/regress/expected/am_vacuum.out
  src/test/regress/sql/am_create.sql
  src/test/regress/sql/am_insert.sql
  src/test/regress/sql/am_vacuum.sql
Labels: columnar

#4685 Not skip relation in conversion if it doesn't have RelationRestriction
  src/backend/distributed/planner/local_distributed_join_planner.c
  src/test/regress/expected/local_dist_join_mixed.out
  src/test/regress/expected/local_table_join.out
  src/test/regress/sql/local_table_join.sql
Labels: bug

#4712 Only consider pseudo constants for detecting JOIN ON false
  src/backend/distributed/planner/local_distributed_join_planner.c
  src/backend/distributed/planner/multi_router_planner.c
  src/backend/distributed/planner/relation_restriction_equivalence.c
  src/include/distributed/multi_router_planner.h
  src/test/regress/bin/normalize.sed
  src/test/regress/expected/local_dist_join_mixed.out
  src/test/regress/expected/local_table_join.out
  src/test/regress/sql/local_table_join.sql
Labels: bug

#4711 Columnar: better specification for microbenchmark.
  src/backend/columnar/README.md
Labels: columnar

#4725 Rewrite time_partitions join clause to avoid smallint[] operator
  src/backend/distributed/sql/udfs/time_partitions/10.0-1.sql
  src/backend/distributed/sql/udfs/time_partitions/latest.sql
Labels: cherry-pick-10.0

#4723 Fix alignment issue in DatumToBytea
  src/backend/columnar/cstore_metadata_tables.c
Labels: cherry-pick-10.0, columnar

#4700 Fix insert query with CTEs/sublinks/subqueries etc
  src/backend/distributed/executor/citus_custom_scan.c
  src/backend/distributed/planner/multi_router_planner.c
  src/test/regress/expected/multi_router_planner_fast_path.out
  src/test/regress/expected/single_node.out
  src/test/regress/expected/with_modifying.out
  src/test/regress/sql/multi_router_planner_fast_path.sql
  src/test/regress/sql/single_node.sql
  src/test/regress/sql/with_modifying.sql
Labels: cherry-pick-10.0

#4741 Remove useless pg version checks
  src/backend/columnar/cstore_reader.c
  src/include/columnar/columnar_version_compat.h
Labels: columnar

#4709 Remove length limitations for table renames
  src/backend/distributed/commands/alter_table.c
  src/backend/distributed/commands/index.c
  src/backend/distributed/commands/rename.c
  src/backend/distributed/relay/relay_event_utility.c
  src/backend/distributed/utils/multi_partitioning_utils.c
  src/backend/distributed/utils/shard_utils.c
  src/include/distributed/commands.h
  src/include/distributed/multi_partitioning_utils.h
  src/include/distributed/shard_utils.h
  src/test/regress/bin/normalize.sed
  src/test/regress/expected/alter_distributed_table.out
  src/test/regress/expected/alter_distributed_table_0.out
  src/test/regress/expected/alter_table_set_access_method.out
  src/test/regress/expected/multi_generate_ddl_commands.out
  src/test/regress/expected/multi_index_statements.out
  src/test/regress/expected/multi_name_lengths.out
  src/test/regress/expected/null_parameters.out
  src/test/regress/sql/alter_distributed_table.sql
  src/test/regress/sql/alter_table_set_access_method.sql
  src/test/regress/sql/multi_generate_ddl_commands.sql
  src/test/regress/sql/multi_name_lengths.sql
  src/test/regress/sql/null_parameters.sql
Labels: cherry-pick-10.0

#4743 Preserve colocation with procedures in alter_distributed_table
  src/backend/distributed/commands/alter_table.c
  src/backend/distributed/metadata/distobject.c
  src/include/distributed/metadata/distobject.h
  src/test/regress/expected/multi_mx_alter_distributed_table.out
  src/test/regress/sql/multi_mx_alter_distributed_table.sql
Labels: cherry-pick-10.0

#4668 Columnar: refactor read path and fix zero-column tables.
  src/backend/columnar/cstore_reader.c
Labels: columnar

#4748 Ensure table owner when using alter_columnar_table_set/alter_columnar_table_reset
  src/backend/columnar/cstore_tableam.c
  src/test/regress/expected/pg12.out
  src/test/regress/sql/pg12.sql
Labels: cherry-pick-10.0, columnar

#4747 Grant read access for columnar metadata tables to unprivileged user
  src/backend/columnar/sql/columnar--10.0-1--10.0-2.sql
  src/backend/columnar/sql/downgrades/columnar--10.0-2--10.0-1.sql
  src/backend/distributed/sql/citus--10.0-1--10.0-2.sql
  src/backend/distributed/sql/citus--10.0-2--10.1-1.sql
  src/backend/distributed/sql/downgrades/citus--10.0-2--10.0-1.sql
  src/backend/distributed/sql/downgrades/citus--10.1-1--10.0-1.sql
  src/backend/distributed/sql/downgrades/citus--10.1-1--10.0-2.sql
  src/test/regress/expected/multi_extension.out
  src/test/regress/expected/multi_extension_0.out
  src/test/regress/expected/multi_multiuser.out
  src/test/regress/sql/multi_extension.sql
  src/test/regress/sql/multi_multiuser.sql
Labels: cherry-pick-10.0, columnar

#4750 Prevent cross join without any target list entries
  src/backend/distributed/planner/multi_physical_planner.c
  src/test/regress/expected/cross_join.out
  src/test/regress/sql/cross_join.sql
Labels: cherry-pick-10.0

#4744 Adds GRANT for public to citus_tables
  src/backend/distributed/sql/citus--10.0-1--10.0-2.sql
  src/backend/distributed/sql/downgrades/citus--10.0-2--10.0-1.sql
  src/test/regress/expected/multi_multiuser.out
  src/test/regress/sql/multi_multiuser.sql
Labels: bug, cherry-pick-10.0

#4746 Use translated vars in postgres 13 as well
  src/backend/distributed/planner/distributed_planner.c
  src/backend/distributed/planner/relation_restriction_equivalence.c
  src/include/distributed/distributed_planner.h
  src/include/distributed/relation_restriction_equivalence.h
  src/test/regress/bin/normalize.sed
  src/test/regress/expected/set_operations.out
  src/test/regress/expected/union_pushdown.out
  src/test/regress/multi_schedule
  src/test/regress/sql/set_operations.sql
  src/test/regress/sql/union_pushdown.sql
Labels: backport, bug, cherry-pick-10.0
