Repository citusdata/citus, pull requests merged in 2021-09, with the labels that each got.

#5154 Use correct snapshot when scanning columnar tables
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
  src/test/regress/expected/columnar_insert.out
  src/test/regress/expected/columnar_write_concurrency.out
  src/test/regress/spec/columnar_write_concurrency.spec
  src/test/regress/sql/columnar_insert.sql
Labels: bug, columnar

#5188 Split columnar stripe reservation into two phases
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_storage.c
  src/backend/columnar/columnar_tableam.c
  src/backend/columnar/columnar_writer.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_metadata.h
  src/include/columnar/columnar_storage.h
  src/test/regress/columnar_isolation_schedule
  src/test/regress/expected/columnar_rollback.out
  src/test/regress/expected/columnar_vacuum.out
  src/test/regress/expected/columnar_write_concurrency.out
  src/test/regress/expected/columnar_write_concurrency_index.out
  src/test/regress/spec/columnar_write_concurrency.spec
  src/test/regress/spec/columnar_write_concurrency_index.spec
Labels: bug, columnar

#4818 Show projected columns in EXPLAIN output
  src/backend/columnar/columnar_customscan.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar_tableam.h
  src/test/regress/expected/columnar_alter.out
  src/test/regress/expected/columnar_chunk_filtering.out
  src/test/regress/expected/columnar_citus_integration.out
  src/test/regress/expected/columnar_cursor.out
  src/test/regress/expected/columnar_empty.out
  src/test/regress/expected/columnar_join.out
  src/test/regress/expected/columnar_partitioning.out
  src/test/regress/expected/columnar_partitioning_1.out
  src/test/regress/expected/columnar_paths.out
  src/test/regress/expected/columnar_query.out
  src/test/regress/expected/columnar_transactions.out
  src/test/regress/sql/columnar_chunk_filtering.sql
  src/test/regress/sql/columnar_citus_integration.sql
  src/test/regress/sql/columnar_join.sql
Labels: columnar

#5237 Columnar: reserve metapage flag for UNLOGGED support.
  src/backend/columnar/columnar_storage.c
Labels: columnar

#5239 Align columnar path costing functions
  src/backend/columnar/columnar_customscan.c
  src/test/regress/expected/columnar_paths.out
  src/test/regress/sql/columnar_paths.sql
Labels: columnar

#5244 Handle aborted writes properly when scanning a columnar table
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_metadata.h
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/columnar_indexes.sql
Labels: bug, columnar

#5245 Prevent using parallel workers for columnar tables
  src/backend/columnar/columnar_customscan.c
  src/backend/columnar/columnar_tableam.c
  src/test/regress/expected/alter_table_set_access_method.out
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/alter_table_set_access_method.sql
  src/test/regress/sql/columnar_indexes.sql
Labels: bug, columnar

#5255 Not read heaptuple after closing pg_rewrite
  src/backend/distributed/metadata/dependency.c
Labels: bug, backport

#5246 Prevent generating index-only "Path"s for columnar tables
  src/backend/columnar/columnar_customscan.c
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/expected/columnar_paths.out
  src/test/regress/sql/columnar_paths.sql
Labels: columnar

#5260 Fix a compiler warning that we get on debian
  src/backend/columnar/columnar_metadata.c
Labels: columnar

#5256 Perform copy command as regular user in worker_append_table_to_shard
  src/backend/distributed/utils/resource_lock.c
  src/backend/distributed/worker/worker_data_fetch_protocol.c
  src/backend/distributed/worker/worker_merge_protocol.c
  src/include/distributed/worker_protocol.h
  src/test/regress/expected/multi_multiuser.out
  src/test/regress/sql/multi_multiuser.sql
Labels: bug, backport

#5262 Improve memset calls made to reset bool arrays
  src/backend/columnar/columnar_customscan.c
  src/backend/columnar/columnar_tableam.c
  src/backend/columnar/columnar_writer.c
Labels: columnar

#5274 Make sure to skip aborted writes when reading the first tuple
  src/backend/columnar/columnar_reader.c
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/columnar_indexes.sql
Labels: bug, columnar

#5247 Not flush writes until need to read them when doing index-scan on columnar
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_metadata.h
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/columnar_indexes.sql
Labels: columnar

#5275 Columnar: add method ReparameterizeCustomPathByChild.
  src/backend/columnar/columnar_customscan.c
  src/test/regress/expected/columnar_partitioning.out
  src/test/regress/expected/columnar_partitioning_1.out
  src/test/regress/sql/columnar_partitioning.sql
Labels: columnar

#5261 Columnar: separate plan and runtime quals.
  src/backend/columnar/columnar_customscan.c
  src/test/regress/expected/columnar_chunk_filtering.out
  src/test/regress/expected/columnar_chunk_filtering_0.out
  src/test/regress/expected/columnar_query.out
  src/test/regress/expected/pg14.out
  src/test/regress/sql/columnar_chunk_filtering.sql
  src/test/regress/sql/columnar_query.sql
  src/test/regress/sql/pg14.sql
Labels: columnar

#5307 Add missing version checks for citus_internal_XXX functions
  src/backend/distributed/metadata/metadata_sync.c
Labels: cherry-pick-10.2

#5308 Add CheckCitusVersion() calls to columnarAM
  src/backend/columnar/columnar_tableam.c
  src/test/regress/expected/multi_extension.out
  src/test/regress/sql/multi_extension.sql
Labels: columnar, cherry-pick-10.0, cherry-pick-10.1, cherry-pick-10.2

#5312 Check if xact id is in progress before checking if aborted
  src/backend/columnar/columnar_metadata.c
Labels: columnar, cherry-pick-10.2

#5278 Columnar CustomScan: Pushdown BoolExpr's as we do before
  src/backend/columnar/columnar_customscan.c
  src/test/regress/bin/normalize.sed
  src/test/regress/expected/columnar_chunk_filtering.out
  src/test/regress/expected/columnar_chunk_filtering_0.out
  src/test/regress/sql/columnar_chunk_filtering.sql
Labels: bug, performance, columnar, cherry-pick-10.2

#5313 Revoke read access to columnar.chunk from unprivileged user
  src/backend/columnar/sql/columnar--10.2-1--10.2-2.sql
  src/backend/columnar/sql/downgrades/columnar--10.2-2--10.2-1.sql
  src/backend/distributed/citus.control
  src/backend/distributed/sql/citus--10.2-1--10.2-2.sql
  src/backend/distributed/sql/downgrades/citus--10.2-2--10.2-1.sql
  src/test/regress/expected/multi_extension.out
  src/test/regress/expected/multi_multiuser.out
  src/test/regress/sql/multi_extension.sql
  src/test/regress/sql/multi_multiuser.sql
Labels: columnar, cherry-pick-10.2

#5319 Columnar: only call BuildStripeMetadata() with heap tuple.
  src/backend/columnar/columnar_metadata.c
Labels: bug, columnar, cherry-pick-10.2

#5324 Make (columnar.stripe) first_row_number index a unique constraint
  src/backend/columnar/sql/columnar--10.2-2--10.2-3.sql
  src/backend/columnar/sql/downgrades/columnar--10.2-3--10.2-2.sql
  src/backend/distributed/citus.control
  src/backend/distributed/sql/citus--10.2-2--10.2-3.sql
  src/backend/distributed/sql/downgrades/citus--10.2-3--10.2-2.sql
  src/test/regress/expected/upgrade_columnar_after.out
  src/test/regress/expected/upgrade_columnar_before.out
  src/test/regress/sql/upgrade_columnar_after.sql
  src/test/regress/sql/upgrade_columnar_before.sql
Labels: columnar, cherry-pick-10.2
