Repository citusdata/citus, pull requests merged in 2021-04, with the labels that each got.

#4856 Columnar: use clause Vars for chunk group filtering.
  src/backend/columnar/columnar_reader.c
  src/test/regress/input/columnar_chunk_filtering.source
  src/test/regress/output/columnar_chunk_filtering.source
Labels: columnar

#4866 Fix shard not found issue for public schema
  src/backend/distributed/planner/multi_physical_planner.c
  src/test/regress/expected/alter_role_propagation.out
  src/test/regress/expected/failure_1pc_copy_append.out
  src/test/regress/expected/isolation_citus_dist_activity.out
  src/test/regress/expected/multi_explain.out
  src/test/regress/expected/multi_mx_explain.out
  src/test/regress/output/multi_complex_count_distinct.source
  src/test/regress/sql/alter_role_propagation.sql
Labels: backport, bug, cherry-pick-10.0

#4869 Columnar: make projectedColumnList an integer list.
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
Labels: columnar

#4823 Refactor ColumnarReadNextRow for better readability
  src/backend/columnar/columnar_reader.c
Labels: columnar, refactor

#4906 Columnar: fix use-after-free.
  src/backend/columnar/columnar_reader.c
Labels: columnar

#4908 Move columnar test helpers to a separate file
  src/backend/columnar/columnar_debug.c
  src/test/regress/base_schedule
  src/test/regress/columnar_schedule
  src/test/regress/expected/columnar_create.out
  src/test/regress/expected/columnar_insert.out
  src/test/regress/expected/columnar_lz4.out
  src/test/regress/expected/columnar_lz4_0.out
  src/test/regress/expected/columnar_matview.out
  src/test/regress/expected/columnar_memory.out
  src/test/regress/expected/columnar_recursive.out
  src/test/regress/expected/columnar_rollback.out
  src/test/regress/expected/columnar_test_helpers.out
  src/test/regress/expected/columnar_truncate.out
  src/test/regress/expected/columnar_vacuum.out
  src/test/regress/expected/columnar_zstd.out
  src/test/regress/expected/columnar_zstd_0.out
  src/test/regress/input/columnar_load.source
  src/test/regress/minimal_schedule
  src/test/regress/output/columnar_load.source
  src/test/regress/sql/columnar_create.sql
  src/test/regress/sql/columnar_insert.sql
  src/test/regress/sql/columnar_lz4.sql
  src/test/regress/sql/columnar_matview.sql
  src/test/regress/sql/columnar_memory.sql
  src/test/regress/sql/columnar_recursive.sql
  src/test/regress/sql/columnar_rollback.sql
  src/test/regress/sql/columnar_test_helpers.sql
  src/test/regress/sql/columnar_truncate.sql
  src/test/regress/sql/columnar_vacuum.sql
  src/test/regress/sql/columnar_zstd.sql
Labels: columnar, regression tests

#4865 Fix FROM ONLY queries on partitioned tables
  src/backend/distributed/deparser/ruleutils_12.c
  src/backend/distributed/deparser/ruleutils_13.c
  src/backend/distributed/planner/distributed_planner.c
  src/backend/distributed/planner/multi_logical_planner.c
  src/backend/distributed/planner/multi_physical_planner.c
  src/include/distributed/distributed_planner.h
  src/include/distributed/multi_logical_planner.h
  src/test/regress/expected/distributed_collations.out
  src/test/regress/expected/multi_partitioning.out
  src/test/regress/sql/multi_partitioning.sql
Labels: backport, bug
