Repository citusdata/citus, pull requests merged in 2021-07, with the labels that each got.

#5082 Fix lower boundary calculation when pruning range dist table shards
  src/backend/distributed/planner/shard_pruning.c
  src/test/regress/expected/multi_join_pruning.out
  src/test/regress/expected/multi_prune_shard_list.out
  src/test/regress/sql/multi_join_pruning.sql
  src/test/regress/sql/multi_prune_shard_list.sql
Labels: backport, bug

#5088 Remove stripeList & currentStripe from ColumnarReadState
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
Labels: columnar, refactor

#5026 Be more explicit when doing ordered scan on columnar cat. tables
  src/backend/columnar/columnar_metadata.c
Labels: columnar

#5032 Support index builds with CONCURRENTLY option
  src/backend/columnar/columnar_tableam.c
  src/test/regress/columnar_isolation_schedule
  src/test/regress/expected/columnar_index_concurrency.out
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/spec/columnar_index_concurrency.spec
  src/test/regress/sql/columnar_indexes.sql
Labels: columnar

#5110 Columnar: use clause Vars for chunk group filtering. (#4856)
  src/backend/columnar/cstore_reader.c
  src/test/regress/input/am_chunk_filtering.source
  src/test/regress/output/am_chunk_filtering.source
Labels: cherry-pick-10.0

#5122 CLUSTER ON deparser should consider schemas
  src/backend/distributed/deparser/citus_ruleutils.c
Labels: cherry-pick-10.1

#5136 Fix showing target shard size in the rebalance progress monitor
  src/backend/distributed/operations/repair_shards.c
  src/test/regress/expected/isolation_shard_rebalancer_progress.out
  src/test/regress/expected/shard_rebalancer.out
  src/test/regress/sql/shard_rebalancer.sql
Labels: backport, cherry-pick-10.1

#5103 Drop unsupported indexes when converting table to columnar
  src/backend/columnar/columnar_tableam.c
  src/backend/distributed/commands/alter_table.c
  src/include/columnar/columnar_tableam.h
  src/test/regress/expected/alter_table_set_access_method.out
  src/test/regress/expected/columnar_alter.out
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/alter_table_set_access_method.sql
Labels: columnar
