Repository citusdata/citus, pull requests merged in 2021-08, with the labels that each got.

#5058 Use long-lasting mem cxt during columnar index scan & optimize correlated ones
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
  src/test/regress/expected/columnar_indexes.out
  src/test/regress/sql/columnar_indexes.sql
Labels: columnar

#5143 Free memory used for last stripe read when re-scanning a columnar table
  src/backend/columnar/columnar_reader.c
Labels: columnar

#5090 Re-cost columnar table index scan paths
  src/backend/columnar/columnar_customscan.c
  src/test/regress/columnar_schedule
  src/test/regress/expected/columnar_paths.out
  src/test/regress/expected/columnar_test_helpers.out
  src/test/regress/sql/columnar_paths.sql
  src/test/regress/sql/columnar_test_helpers.sql
Labels: columnar

#5162 Columnar: fix misleading comments and useless types.
  src/backend/columnar/columnar_customscan.c
Labels: columnar

#5131 Dropped columns do not diverge distribution column for partitioned tables
  src/backend/distributed/commands/alter_table.c
  src/backend/distributed/commands/create_distributed_table.c
  src/backend/distributed/commands/table.c
  src/backend/distributed/utils/distribution_column.c
  src/include/distributed/distribution_column.h
  src/test/regress/expected/drop_column_partitioned_table.out
  src/test/regress/multi_schedule
  src/test/regress/sql/drop_column_partitioned_table.sql
Labels: backport, cherry-pick-10.0, cherry-pick-10.1

#5165 Use right mem cxt for read state when re-writing a columnar table
  src/backend/columnar/columnar_reader.c
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar.h
  src/test/regress/expected/columnar_alter.out
  src/test/regress/sql/columnar_alter.sql
Labels: bug, columnar

#5181 Columnar: use generate_series for test rather than load.
  src/test/regress/data/chunk_filtering.csv
  src/test/regress/expected/.gitignore
  src/test/regress/expected/columnar_chunk_filtering.out
  src/test/regress/sql/.gitignore
  src/test/regress/sql/columnar_chunk_filtering.sql
Labels: columnar

#5192 Use relcache utils instead of scanning catalog tables for indexes and ext stats
  src/backend/distributed/commands/alter_table.c
  src/backend/distributed/commands/citus_add_local_table_to_metadata.c
  src/backend/distributed/commands/index.c
  src/backend/distributed/commands/statistics.c
  src/backend/distributed/operations/node_protocol.c
  src/include/distributed/commands.h
Labels: refactor

#5189 Update columnar readme for temporary table & index support
  src/backend/columnar/README.md
Labels: documentation, columnar

#5168 Not print metapage.reserved_offset in regression tests
  src/test/regress/expected/columnar_alter.out
  src/test/regress/expected/columnar_empty.out
  src/test/regress/expected/columnar_insert.out
  src/test/regress/expected/columnar_rollback.out
  src/test/regress/expected/columnar_truncate.out
  src/test/regress/expected/columnar_vacuum.out
  src/test/regress/input/columnar_load.source
  src/test/regress/output/columnar_load.source
  src/test/regress/sql/columnar_alter.sql
  src/test/regress/sql/columnar_empty.sql
  src/test/regress/sql/columnar_insert.sql
  src/test/regress/sql/columnar_rollback.sql
  src/test/regress/sql/columnar_truncate.sql
  src/test/regress/sql/columnar_vacuum.sql
Labels: regression tests, columnar

#5206 Fix missing comma in connection options
  src/backend/distributed/shared_library_init.c
Labels: bug

#5205 Fix crash in shard rebalancer when no distributed tables exist
  src/backend/distributed/operations/shard_rebalancer.c
  src/test/regress/expected/multi_cluster_management.out
  src/test/regress/sql/multi_cluster_management.sql
Labels: backport, cherry-pick-10.1
