Repository citusdata/citus, pull requests merged in 2022-02, with the labels that each got.

#5679 Fix coordinator/worker query targetlists for agg. that we cannot push-down
  src/backend/distributed/planner/multi_logical_optimizer.c
  src/test/regress/expected/aggregate_support.out
  src/test/regress/sql/aggregate_support.sql
Labels: backport

#5676 Removed dependency from EnsureTableOwner
  src/backend/columnar/columnar_tableam.c
  src/backend/columnar/mod.c
  src/backend/distributed/shared_library_init.c
  src/include/columnar/columnar_tableam.h
  src/test/regress/expected/multi_multiuser.out
  src/test/regress/sql/multi_multiuser.sql
Labels: columnar

#5690 Remove citus.shard_placement_policy
  src/backend/distributed/operations/node_protocol.c
  src/backend/distributed/operations/stage_protocol.c
  src/backend/distributed/operations/worker_node_manager.c
  src/backend/distributed/shared_library_init.c
  src/include/distributed/coordinator_protocol.h
  src/include/distributed/worker_manager.h
Labels: technical debt

#5688 Copied CheckCitusVersion into Columnar
  src/backend/columnar/columnar_tableam.c
  src/include/columnar/columnar_tableam.h
  src/test/regress/expected/multi_extension.out
  src/test/regress/sql/multi_extension.sql
Labels: columnar
