Repository citusdata/citus, pull requests merged in 2022-01, with the labels that each got.

#5543 Columnar: use proper generic WAL interface.
  src/backend/columnar/columnar_storage.c
Labels: columnar

#5548 Make pg_version_compat.h and listutils.c dependency-free.
  src/backend/columnar/columnar_debug.c
  src/backend/distributed/deparser/deparse_statistics_stmts.c
  src/backend/distributed/operations/health_check.c
  src/include/distributed/listutils.h
  src/include/distributed/version_compat.h
  src/include/pg_version_compat.h
Labels: columnar

#5547 Columnar: move DDL hooks to citus to remove dependency.
  src/backend/columnar/columnar_tableam.c
  src/backend/distributed/commands/utility_hook.c
  src/backend/distributed/operations/node_protocol.c
  src/backend/distributed/shared_library_init.c
  src/include/columnar/columnar.h
  src/include/columnar/columnar_tableam.h
  src/include/distributed/commands/utility_hook.h
  src/include/distributed/coordinator_protocol.h
Labels: columnar

#5520 Tell other backends it's safe to ignore the backend that concurrently built the shell table index
  src/backend/distributed/commands/utility_hook.c
  src/backend/distributed/connection/connection_management.c
  src/include/distributed/connection_management.h
Labels: dev_reported

#5622 Making Columnar Dependency Free from Citus
  src/backend/columnar/columnar_debug.c
  src/backend/columnar/columnar_metadata.c
  src/backend/columnar/columnar_tableam.c
  src/test/regress/expected/columnar_test_helpers.out
  src/test/regress/sql/columnar_test_helpers.sql
Labels: columnar

#5599 Fix a flaky test related with temp columnar table cleanup
  src/test/regress/expected/columnar_create.out
  src/test/regress/expected/columnar_test_helpers.out
  src/test/regress/sql/columnar_create.sql
  src/test/regress/sql/columnar_test_helpers.sql
Labels: regression tests, columnar

#5636 Drop ruleutils copied for triggers & statistics
  src/backend/distributed/commands/statistics.c
  src/backend/distributed/commands/trigger.c
  src/backend/distributed/deparser/ruleutils_12.c
  src/backend/distributed/deparser/ruleutils_13.c
  src/backend/distributed/deparser/ruleutils_14.c
  src/include/distributed/citus_ruleutils.h
  src/include/pg_version_compat.h
  src/test/regress/expected/citus_table_triggers.out
Labels: cleanup

#5657 Use a fixed application_name while connecting to remote nodes
  src/backend/distributed/connection/connection_configuration.c
  src/test/regress/citus_tests/common.py
  src/test/regress/citus_tests/config.py
  src/test/regress/citus_tests/upgrade/pg_upgrade_test.py
Labels: cherry-pick-10.1, cherry-pick-10.2

#5654 Use smgrextend() when extending relation, and WAL-log first.
  src/backend/columnar/columnar_storage.c
Labels: columnar
