Repository citusdata/citus, pull requests merged in 2023-09, with the labels that each got.

#7161 PG16 - Add tests for createdb with ICU_RULES option
  src/test/regress/expected/pg16.out
  src/test/regress/sql/pg16.sql
Labels: pg16_support

#7167 PG16 - Add reindex database/system tests
  src/test/regress/expected/pg16.out
  src/test/regress/sql/pg16.sql
Labels: pg16_support

#7173 Adds PostgreSQL 16 RC1 support
  .circleci/config.yml
  src/test/regress/expected/isolation_shard_rebalancer_progress.out
  src/test/regress/spec/isolation_shard_rebalancer_progress.spec
Labels: pg16_support

#7184 Add tests with publications with schema and table of the same schema
  src/test/regress/expected/publication.out
  src/test/regress/sql/publication.sql
Labels: pg16_support

#7186 Add tests with JSON_ARRAYAGG and JSON_OBJECTAGG aggregates
  src/test/regress/expected/pg16.out
  src/test/regress/sql/pg16.sql
Labels: pg16_support

#7185 PG16 - Add rules option to CREATE COLLATION
  src/backend/distributed/commands/collation.c
  src/test/regress/expected/pg16.out
  src/test/regress/sql/pg16.sql
Labels: pg16_support

#7190 PG16 - Don't propagate GRANT ROLE with INHERIT/SET option
  src/backend/distributed/commands/role.c
  src/test/regress/expected/pg16.out
  src/test/regress/sql/pg16.sql
Labels: pg16_support

#7201 Adds PostgreSQL 16.0 Support
  .circleci/config.yml
  src/include/pg_version_compat.h
Labels: pg16_support

#7215 Fix the changelog entry for citus_pause_node_within_txn() UDF
  CHANGELOG.md
Labels: cherry-pick-12.1

#7219 Make sure to disallow creating a replicated distributed table concurrently
  src/backend/distributed/commands/create_distributed_table.c
  src/test/regress/expected/create_distributed_table_concurrently.out
  src/test/regress/sql/create_distributed_table_concurrently.sql
Labels: backport
